* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
@media screen and (max-width:1440px) {
    .container {
        max-width: 1298px;
    }
}
 @media screen and (max-width:1340px){
        .container{
            max-width: 1200px;
        }
    } 
    @media screen and (max-width:1240px) {
        .container{
            max-width: 1140px;
        }
    }
    @media screen and (max-width:1150px) {
        .container{
            max-width: 990px;
        }
    }
    @media screen and (max-width:1020px) {
        .container{
            max-width: 920px;
        }
    }
    @media screen and (max-width:920px) {
        .container{
            max-width: 830px;
        }
    }
    @media screen and (max-width:840px) {
        .container{
            max-width: 760px;
        }
    }
    @media screen and (max-width:780px) {
        .container{
            max-width: 710px;
        }
    }
    @media screen and (max-width:710px) {
        .container{
            max-width: 670px;
        }
    }
    @media screen and (max-width:670px) {
        .container{
            max-width: 590px;
        }
    }
    @media screen and (max-width:590px) {
        .container{
            max-width: 510px;
        }
    }
    @media screen and (max-width:510px) {
        .container{
            max-width: 450px;
        }
    }
    @media screen and (max-width:450px) {
        .container{
            max-width: 400px;
        }
    }
    @media screen and (max-width:400px) {
        .container{
            max-width: 350px;
        }
    }
    @media screen and (max-width:350px) {
        .container{
            max-width: 320px;
        }
    }
    

    

   

.first {
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-top: 30px;
    background-color: white;    

}

nav {
    padding: 10px;
    border-radius: 50px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listitem {
    display: flex;
    gap: 10px;
}

.listitem>a {
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    transition: 0.3s;
}

.listitem>a:hover {
    background-color: rgb(255, 109, 56);
    border-radius: 50px;
}
.navlogo{
    margin-left: 175px;
}
.navlogo>img{
    width: 80%;
}
.center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height:auto;
}
.center>img{
    width: 100%;
    margin-bottom: -40px;

}
.navicon{
    display: none;
    margin: 0 30px;
}
.navicon>img{
    width: 30px;
}
@media screen and (max-width:1320px){
    nav{
        padding: 0 10px;
    }
    .listitem{

        display: none;
    }
    .navicon{
        display: inline;
    }
    .navlogo{
        margin: 0;
    }
}
.second {
    /* overflow: hidden; */
    background: url(boxbg.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    border-radius: 40px;
    opacity: 95%;
    display: flex;
    flex-direction: column;
}
.uppercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 80px;
    color: white;
    padding: 0 20px;
    gap: 20px;
    text-align: center;
}

.uppercontent>h2 {
    font-size: 35px;
}

.uppercontent>h2>span {
    color: rgb(255, 109, 56);
}

.sec-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 30px;
}

.sec-box {
    position: relative;
}
.sec-box>img{
    width: 100%;
}
@media screen and (max-width:1440px){
    .sec-boxes{
        justify-content: center;
    }
    .uppercontent{
        flex-direction: column;
    }
}
.third {
    background-color: white;
    width: 100%;
    margin: 60px 0;
    height: auto;
}
.thirdheading{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}
.thirdheading>h1 {
    letter-spacing: 1.5%;
    font-size: 45px;
}
.thirdheading>h1>span{
    color: rgb(255, 109, 56);
}
.thirdmiddle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.thirdleft{
    display: flex;
    flex-direction: column;
    gap: 102px;
    margin-bottom: 20px;
    text-align: center;
}
.tleftbar{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.tleftbar>p{
    font-weight: 500;
    color: grey;
}
.thirdright{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.trightbar{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.trightbar>p{
    font-weight: 500;
    color: grey;
}
 @media screen and (max-width:950px){
    .thirdmiddle{
        flex-direction: column;
        justify-content: center;
    }
    .thirdcenter{
        display: none;
    }
    .thirdleft{
        gap: 40px;
    }
} 
.four{
    height: auto;
    width: 100%;
    background-color: rgba(230, 227, 227, 0.527);
    border-radius: 40px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}
.fourmiddle{
    display: flex;
    /* align-items: center; */
}
.fourtext{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 47px;
}
.fourtext>h1{
    letter-spacing: 1.5%;
    font-size: 45px;
}
.fourtext>h1>span{
    color: rgb(255, 109, 56);
}
.fourtext>p{
    font-weight: 400;
    color: grey;
}
.fourrating{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fourrating>h1{
    font-size: 40px;
    font-weight: 550;
}
.fourrating>p{
    font-weight: 500;
    color: grey;
}
.fourratio{
    display: flex;
    /* justify-content: space-between; */
    gap: 120px;
}
.fourtext>button{
    background-color: transparent;
    width: 40%;
    padding: 30px 30px;
    font-size: larger;
    font-weight: 500;
    border-radius: 30px;
}
@media screen and (max-width:1000px){
    .fourmiddle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fourmiddle>img{
        width: 60%;
    }
    .fourtext{
        justify-content: center;
        align-items: center;
    }
    .fourratio{
        gap: 70px;
    }
}
.five{
    margin-top: 100px;
    margin-bottom: 40px;
    height: auto;
    width: 100%;
    background-color: white;
}
.fiveupper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    padding: 0 20px;
}
.fiveupper>h1{
    font-size: 50px;
}
.fiveupper>h1>span{
    color: rgb(255, 109, 56);
}
.fiveupper>button{
    padding: 20px 30px;
    border-radius: 50px;
    font-weight: 500;
    font-size: larger;
    color: white;
    background-color: rgb(255, 109, 56);
    border: transparent;
}
.fivemiddleimages{
    display: flex;
    width: 100%;
    gap: 14px;
    margin-bottom: 60px;
    padding: 0 20px;

}
.fivemiddleimages>img{
    width: 50%;
}
@media screen and (max-width:770px){
    .fiveupper{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:930px){
    .fivemiddleimages{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fivemiddleimages>img{
        width: 90%;
    }
}
.fivebuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.fivebuttons>button{
    padding: 12px 15px;
    background-color: rgba(230, 227, 227, 0.527);
    color: black;
    font-size: medium;
    font-weight: 550;
    border: none;
    border-radius: 20px;
    width: auto;
    height: auto;
}
.fivebottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}
.fivebottom>h1{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 50px;
}
.fivebottom>p{
    font-weight: 500;
}
@media screen and (max-width:920px){
    .fivebottom>h1{
        flex-direction: column;
    }
}
.six{
    height: auto;
    width: 100%;
    background: url(boxbg.jpg);
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
    padding: 40px 0;
}
.sixupper{
    padding: 0 20px;
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    text-align: center;
}
.sixupper>h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.sixupper>h1>span{
    color: rgb(255, 109, 56);
}
.sixupper>p{
    color: white;
}
.sixboxes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.sixbox{
    padding: 20px 0;
    /* width: 100%; */
    background-color: #262626;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 80%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 60px;
}
.sixboximage{
    display: flex;
    gap: 10px;
}
.sixboximage>img{
    width: 6%;
    background-size: cover;
}
.sixdown{
    display: flex;
    flex-direction: column;
    color: white;
}
.sixdown>h3{
    font-weight: 500;
}
.sixdown>p{
    font-weight: 400;
}
.sixboxstars{
    display: flex;
    gap: 8px;
    align-items: center;
}
.sixboxstars>strong{
    font-weight: 500;
    color: white;
    font-size: 22px;
}
.sixbox>p{
    color: white;
    font-size: 16px;
}
.sixbox1{
    padding-top: 135px;
    border-radius: 0 12px 12px 0;
}
.sixbox2{
    padding-left: 14px;
    padding-right: 14px;
}
.sixbox3>.sixboximage>img{
    width: 15%;
}
.sixbox3{
    padding-left: 14px;
}
@media screen and (max-width:960px){
    .sixbox1{
        display: none;
    }
    .sixbox3{
        display: none;
    }
    .sixboxes{
        padding: 0 20px;
    }
}
@media screen and (max-width:640px){
    .sixbox2>.sixboximage>img{
    width: 15%;
    }
}
.seven{
    width: 100%;
    height: auto;
    margin: 70px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.sevencontent{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sevencontent>h1{
    font-weight: 600;
    font-size: 50px;
}
.sevencontent>h1>span{
    color: rgb(255, 109, 56);
}
.seveninputbar{
    width: 100%;
    position: relative;
}
.seveninputbar>input{
    width: 100%;
    display: flex;
    align-items: center;   
    padding: 25px 10px;
    border-radius: 50px;
}
.seveninputbar>input::placeholder{
    padding-left: 70px;
    font-size: medium;
    font-weight: 500;
    color: black;
}
.seveninpimage>img{
    position: absolute;
    left: 10px;
    /* top: 10px; */
    top: 7px;
}
.seveninpbutton>button{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 500;
    font-size: larger;
    color: white;
    background-color: rgb(255, 109, 56);
    border: transparent;
}
.sevenlist{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sevenlist>span{
    color: black;
    font-weight: 600;
}
@media screen and (max-width:800px){
    .seveninpbutton>button{
        position: relative;
        margin-bottom: 20px;
    }
    .sevenlist{
        flex-direction: column;
    }
    .seveninputbar{
        width: 100%;
    }
}
@media screen and (max-width:590px){
    .seveninpimage{
        display: none;
    }
    .seveninputbar>input::placeholder{
        padding-left: 10px;
}
}
.centerbox{
    width: 100%;
    height: 14vh;
    /* background-color: blueviolet; */
    background: url(centerimage.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: none;
}
.eight{
    width: 100%;
    height: auto;
    margin: 70px 0;
}
.eightupper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 20px;
}
.eightupper>h1{
    font-size: 40px;
    font-weight: 600;
}
.eightupper>button{
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 500;
    font-size: larger;
    color: white;
    background-color: rgb(255, 109, 56);
    border: transparent;
}

.eightboxes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px; */
}
.eightbox>img{
    width: 95%;
}
.eightcontent{
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-direction: column;
    margin-left: 60px;
}
.eightcontent>button{
    padding: 12px 15px;
    background-color: rgba(230, 227, 227, 0.527);
    color: black;
    font-size: medium;
    font-weight: 550;
    border: none;
    border-radius: 20px;
    width: 30%;
}
.eightboxstraight{
    display: flex;
    gap: 35px;
}
.eightboxstraight>p{
    font-weight: 600;
    font-size: medium;
}
.eightcontent>p{
    font-size: 30px;
}
@media screen and (max-width:1540px){
    .eightboxes{
        flex-wrap: wrap;
    }
}
 @media screen and (max-width:540px) {
    .eightbox>img{
        width: 95%;
    }
    .eightupper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .eightcontent>button{
        width: 50%;
    }
} 

footer{
    width: 100%;
    height: auto;
    background-color: #161616;
    border-radius: 24px 24px 0 0;
}
.footerupper{
    padding: 71px 20px 101px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 2px solid rgba(230, 227, 227, 0.527);
}
.footerupper>h1{
    font-size: 50px;
    font-weight: 600;
}
.footerupper>button{
    padding: 20px 30px;
    border-radius: 50px;
    font-weight: 500;
    font-size: larger;
    color: white;
    background-color: rgb(255, 109, 56);
    border: transparent;
}
.footermiddle{
    padding: 50px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 28px;
    border-bottom: 2px solid rgba(230, 227, 227, 0.527);
    flex-wrap: wrap;
}
.footerfirst{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footerfirst>img:first-child{
    width: 30%;
    padding: 20px 0 15px 0;
}
.footerfirst>p{
    color: white;
    font-weight: 400;
}
.footerfirst>img:last-child{
    width: 12%;
}
.footersecond{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.footersecond>h3{
    color: rgb(255, 109, 56);
}
.footersecond>a{
    text-decoration: none;
    color: white;
}
.footerthird{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.footerthird>h3{
    color: rgb(255, 109, 56);
}
.footerthird>a{
    text-decoration: none;
    color: white;
}

.footerfour{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.footerfour>h3{
    color: rgb(255, 109, 56);
}
.footerinputbar{
    width: 100%;
    position: relative;
}
.footerinputbar>input{
    width: 100%;
    padding: 12px;
    border: transparent;
    border-radius: 8px;
}
.footerinputbar>input::placeholder{
    font-size: medium;
    font-weight: 500;
    color: black;
}
.footerinputimage{
    position: absolute;
    left: 85%;
    bottom: -8px;
}
.footerinputimage>img{
    width: 108%;
    border-radius: 12px;
}
.footerfive{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 15px;
}
.footerfive>p{
    color: white;
    font-weight: 300;
}
@media screen and (max-width:750px) {
    .footerupper{
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and  (max-width:1240px){
    .footerfirst{
        width: 100%;
    }
}
@media screen and (max-width:660px){
    .footerfirst>img{
        width: 50%;
    }
}